*{
  margin:0;
  padding:0;
  border:0;
}

body{
    font-family: 'Playfair Display', serif;
}

/*----------------------------------------------nav bar*/

#menu li{
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    float: right;
    width: 33.33%; 
    margin: 0;
    padding: 0;
    padding-right: 80px;
    list-style-type: none;
    text-align: center;
    overflow: hidden;
    
}

#menu li :hover {
    text-decoration: none;

}

/*----------------------------------------------home page body*/

.home-img{
    border: 1px solid #ccc;
    width: 100%;
}

.welcome{
    text-transform: uppercase;
    font-family: 'News Cycle', sans-serif;
}

/*----------------------------------------------footer*/
footer{
    background-color: #2978A0;
}