*{
  margin:0;
  padding:0;
  border:0;
}

body{
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
}

/*----------------------------------------------nav bar*/

/* .heading{
    width: 100%;
    padding-top: 10px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;

} */
.navigation{
    text-align: center;
}
#logo{
    margin-left: 30px;
    letter-spacing: 3px;
    width:100%;
}

#logo a :hover{
    text-decoration: none;
    color: #FFD700;
}

#slogan{
    text-align: center;
    margin-left: 30px;
    width:100%;
}

nav #menu{
    width: 100%;
    height: 100%;
    padding-top: 10px;
    padding-right: 0px;
}

#menu li{
    background-color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    padding-left: 0px;
    width: 33.33%;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    list-style-type: none;
    text-align: center;
    overflow: visible;
    white-space: nowrap;
}

#menu li :hover {
    text-decoration: none;
    color: #FFD700;

}

/*----------------------------------------------home page body*/

.home-text{
    /* background-color: black; */
    margin: 0px;
}

.home-img{
    width: 100%;
    margin-right: 0px;
    height: 600px;
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.home-text, .welcome{
    text-transform: uppercase;
    text-align: center;
}

.home-text,.welcome, .home-desc{
    text-align: center;
}

#photo{
  clear:both;
  line-height: 0;
  column-count:3;
  column-gap: 0px;
}

#photo img{
  width: 100%;
  height: 100%;
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}
/*----------------------------------------------footer*/
/*footer{
    background-color: #2978A0;
} */

.social-networks{
  text-align: center;
}

.social-networks li{
  display:inline;
}

.social-networks i{
  font-size:160%;
  margin:1%;
  padding:5%;
  color:#FFD700;
}